@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@media screen and (max-width: 600px) 
{
  html {
    font-family:"Roboto", "Arial";
  }
  body{
    margin: 0;
  }
  .chargement{
    &-loader{
        margin:auto;
        margin-top: 150px;
        margin-bottom: 100px;
        border: 16px solid white;
        width: 100px;
        height: 100px;
        border-top-color: blue;
        border-bottom-color: red;
        border-radius: 50%;
        animation: chargeur 2s  infinite;
        z-index: 1;
        position: absolute;
        margin-left: 40%;
    }
}
.delay{
    animation: delay 1s 1s both;
}
@keyframes delay {
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
    }  
}
  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    25%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    75%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
}
  nav{
    background-color: #F2F2F2;
    padding-bottom: 30px;
    border-radius: 40px 40px 0px 0px;
  }

  a:link {
    text-decoration: none;
  }
  p{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
  }

.entête{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}
.ohmyfood{
  padding-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa-solid{
  padding-left: 10px;
  color: black;
  margin-bottom: 10px;
}
.imglne{
  background-image:url("../images./restaurants./2.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.bigHeart{
  position: relative;
  margin-top: -70px;
}
.coeur{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F2F2F2;
  border-radius: 40px 40px 0px 0px;
}
.coeur .fas{
  color: #bc6fd7;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color: #F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: 1;
  }
}
.coeur .far{
  color: black;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color:#F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: -1;
  }
}
h1{
  margin-bottom: 0px;
  margin-top: 30px;
}
.Entrées{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F2F2F2;
}
.Entrées h2::after{
  content: "";
    position: absolute;
    top: 24.7rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Plats h2::after{
  content: "";
    position: absolute;
    top: 46.7rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Desserts h2::after{
  content: "";
    position: absolute;
    top: 64.2rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
h2{
  font-size: 15px;
  font-weight: 100;
  padding-left: 10px;
}
h3{
  margin: 0px;
  font-size: 15px;
}
@keyframes V{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
  }
}
.fa-check-circle{
  font-size: 22px;
  background: white;
  color: #99E2D0;
  border-radius: 100px 100px;

}
.apparition{
  border: 1px white solid;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px #cdd4dd;
  animation: menuE 1s 1800ms both;
  display: flex;
  height: 60px ;
  margin: 10px;
  &:hover{
    .validation{
    animation: valid 500ms 0ms both ;
    transform-origin: right 50%;
    .fa-check-circle{
      animation: V 1s 0ms both ;
    }
    }
  }
}
@keyframes valid {
  0%{
    opacity: 0%;
    transform: scaleX(0);
  }
  100%{
    opacity:100%;
    transform: scaleX(1);
  }
}
.validation{
  text-align: center;
  width: 10%;
  padding-top: 20px;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
}

@keyframes menuE {
  0%{
    opacity: 0%;
    transform: translateY(20px);
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity:100%
  }
}
.e1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e4{
    display: flex ;
    font-size: 15px;
    justify-content: space-between;
  }
.E1{
  width: 90%;
  margin: 10px;
}
.E2{
  width: 90%;
  margin: 10px;
}
.E3{
  width: 90%;
  margin: 10px;
}
.E4{
  width: 90%;
  margin: 10px;
  }
.Plats{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.p1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.P1{
  width: 90%;
  margin: 10px;
}
.P2{
  width: 90%;
  margin: 10px;
}
.P3{
  width: 90%;
  margin: 10px;
}
.Desserts{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.d1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.D1{
  width: 90%;
  margin: 10px;
}
.D2{
  width: 90%;
  margin: 10px;
}
.D3{
  width: 90%;
  margin: 10px;
}
.prix{
  font-weight: bold;
  opacity: 0.8;
}
.bouton2{
  border: 1px solid #9356DC ;
  border-radius: 20px 20px;
  color: white;
  background:linear-gradient(0deg,#9356DC , #FF79DA);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 3px 3px #cdd4dd;
  opacity: 0.9;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 50px;
  &:hover{
    box-shadow: 5px 5px 5px 5px #969da6;
    filter: brightness(110%);
}
}
Footer{
  background-color: black;
  opacity: 0.8;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
Footer p{
  color: white;
  margin-top:0px;
  margin-bottom: 8px;
}
.omf{
  margin-bottom: 10px;
  font-weight: bolder;
  font-family:"Shrikhand";
  font-size: 20px;
}
.fa-utensils{
  color: white;
  padding-right: 18px;
}
.fa-hands-helping{
  color: white;
  padding-right: 12px;
}
.main{
  display: flex;
  align-items: baseline;
}
.couvert{
  display: flex;
  align-items: baseline;
}
}
@media screen and (max-width:1023px) and (min-width:601px)
{
  html {
    font-family:"Roboto", "Arial";
  }
  body{
    margin: 0;
  }
  .chargement{
    &-loader{
        margin:auto;
        margin-top: 150px;
        margin-bottom: 100px;
        border: 16px solid white;
        width: 100px;
        height: 100px;
        border-top-color: blue;
        border-bottom-color: red;
        border-radius: 50%;
        animation: chargeur 2s  infinite;
        z-index: 1;
        position: absolute;
        margin-left: 40%;
    }
}
.delay{
    animation: delay 1s 1s both;
}
@keyframes delay {
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
    }  
}
  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    25%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    75%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
}
  nav{
    background-color: #F2F2F2;
    padding-bottom: 30px;
    border-radius: 40px 40px 0px 0px;
  }

  a:link {
    text-decoration: none;
  }
  p{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
  }

.entête{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}
.ohmyfood{
  padding-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa-solid{
  padding-left: 10px;
  color: black;
  margin-bottom: 10px;
}
.imglne{
  background-image:url("../images./restaurants./2.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.bigHeart{
  position: relative;
  margin-top: -70px;
}
.coeur{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F2F2F2;
  border-radius: 40px 40px 0px 0px;
}
.coeur .fas{
  color: #bc6fd7;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color: #F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: 1;
  }
}
.coeur .far{
  color: black;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color:#F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: -1;
  }
}
h1{
  margin-bottom: 0px;
  margin-top: 30px;
}
.Entrées{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F2F2F2;
}
.Entrées h2::after{
  content: "";
    position: absolute;
    top: 37.2rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Plats h2::after{
  content: "";
    position: absolute;
    top: 59.2rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Desserts h2::after{
  content: "";
    position: absolute;
    top: 76.7rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
h2{
  font-size: 15px;
  font-weight: 100;
  padding-left: 10px;
}
h3{
  margin: 0px;
  font-size: 15px;
}
@keyframes V{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
  }
}
.fa-check-circle{
  font-size: 22px;
  background: white;
  color: #99E2D0;
  border-radius: 100px 100px;

}
.apparition{
  border: 1px white solid;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px #cdd4dd;
  animation: menuE 1s 1800ms both;
  display: flex;
  height: 60px ;
  margin: 10px;
  &:hover{
    .validation{
    animation: valid 500ms 0ms both ;
    transform-origin: right 50%;
    .fa-check-circle{
      animation: V 1s 0ms both ;
    }
    }
  }
}
@keyframes valid {
  0%{
    opacity: 0%;
    transform: scaleX(0);
  }
  100%{
    opacity:100%;
    transform: scaleX(1);
  }
}
.validation{
  text-align: center;
  width: 10%;
  padding-top: 20px;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
}

@keyframes menuE {
  0%{
    opacity: 0%;
    transform: translateY(20px);
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity:100%
  }
}
.e1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e4{
    display: flex ;
    font-size: 15px;
    justify-content: space-between;
  }
.E1{
  width: 90%;
  margin: 10px;
}
.E2{
  width: 90%;
  margin: 10px;
}
.E3{
  width: 90%;
  margin: 10px;
}
.E4{
  width: 90%;
  margin: 10px;
  }
.Plats{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.p1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.P1{
  width: 90%;
  margin: 10px;
}
.P2{
  width: 90%;
  margin: 10px;
}
.P3{
  width: 90%;
  margin: 10px;
}
.Desserts{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.d1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.D1{
  width: 90%;
  margin: 10px;
}
.D2{
  width: 90%;
  margin: 10px;
}
.D3{
  width: 90%;
  margin: 10px;
}
.prix{
  font-weight: bold;
  opacity: 0.8;
}
.bouton2{
  border: 1px solid #9356DC ;
  border-radius: 20px 20px;
  color: white;
  background:linear-gradient(0deg,#9356DC , #FF79DA);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 3px 3px #cdd4dd;
  opacity: 0.9;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 50px;
  &:hover{
    box-shadow: 5px 5px 5px 5px #969da6;
    filter: brightness(110%);
}
}
Footer{
  background-color: black;
  opacity: 0.8;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
Footer p{
  color: white;
  margin-top:0px;
  margin-bottom: 8px;
}
.omf{
  margin-bottom: 10px;
  font-weight: bolder;
  font-family:"Shrikhand";
  font-size: 20px;
}
.fa-utensils{
  color: white;
  padding-right: 18px;
}
.fa-hands-helping{
  color: white;
  padding-right: 12px;
}
.main{
  display: flex;
  align-items: baseline;
}
.couvert{
  display: flex;
  align-items: baseline;
}
}
@media screen and (min-width: 1024px)
{
  html {
    font-family:"Roboto", "Arial";
  }
  body{
    margin: 0;
  }
  .chargement{
    &-loader{
        margin:auto;
        margin-top: 150px;
        margin-bottom: 100px;
        border: 16px solid white;
        width: 100px;
        height: 100px;
        border-top-color: blue;
        border-bottom-color: red;
        border-radius: 50%;
        animation: chargeur 2s  infinite;
        z-index: 1;
        position: absolute;
        margin-left: 40%;
    }
}
.delay{
    animation: delay 1s 1s both;
}
@keyframes delay {
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
    }  
}
  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    25%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
    75%{
      border-top-color: blue;
      border-bottom-color: red;
      z-index: -1;
    }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: red;
      border-bottom-color: blue;
      z-index: -1;
    }
}
  nav{
    background-color: #F2F2F2;
    padding-bottom: 30px;
    border-radius: 40px 40px 0px 0px;
  }

  a:link {
    text-decoration: none;
  }
  p{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
  }

.entête{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}
.ohmyfood{
  padding-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa-solid{
  padding-left: 10px;
  color: black;
  margin-bottom: 10px;
}
.imglne{
  background-image:url("../images./restaurants./2.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.bigHeart{
  position: relative;
  margin-top: -70px;
}
.coeur{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F2F2F2;
  border-radius: 40px 40px 0px 0px;
}
.coeur .fas{
  color: #bc6fd7;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color: #F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: 1;
  }
}
.coeur .far{
  color: black;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 25px;
  position: absolute;
  right: 1rem;
  background-color:#F2F2F2;
  border-radius: 0px 50px 0px 0px;
  &:hover{
      z-index: -1;
  }
}
h1{
  margin-bottom: 0px;
  margin-top: 30px;
}
.Entrées{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F2F2F2;
}
.Entrées h2::after{
  content: "";
    position: absolute;
    top: 49.8rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Plats h2::after{
  content: "";
    position: absolute;
    top: 71.7rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
.Desserts h2::after{
  content: "";
    position: absolute;
    top: 89.2rem;
    left: 0.7rem;
    height: 0.20rem;
    width: 2.5rem;
    background-color: #99E2D0;
}
h2{
  font-size: 15px;
  font-weight: 100;
  padding-left: 10px;
}
h3{
  margin: 0px;
  font-size: 15px;
}
@keyframes V{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
  }
}
.fa-check-circle{
  font-size: 22px;
  background: white;
  color: #99E2D0;
  border-radius: 100px 100px;

}
.apparition{
  border: 1px white solid;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px #cdd4dd;
  animation: menuE 1s 1800ms both;
  display: flex;
  height: 60px ;
  margin: 10px;
  &:hover{
    .validation{
    animation: valid 500ms 0ms both ;
    transform-origin: right 50%;
    .fa-check-circle{
      animation: V 1s 0ms both ;
    }
    }
  }
}
@keyframes valid {
  0%{
    opacity: 0%;
    transform: scaleX(0);
  }
  100%{
    opacity:100%;
    transform: scaleX(1);
  }
}
.validation{
  text-align: center;
  width: 10%;
  padding-top: 20px;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
}

@keyframes menuE {
  0%{
    opacity: 0%;
    transform: translateY(20px);
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity:100%
  }
}
.e1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.e4{
    display: flex ;
    font-size: 15px;
    justify-content: space-between;
  }
.E1{
  width: 90%;
  margin: 10px;
}
.E2{
  width: 90%;
  margin: 10px;
}
.E3{
  width: 90%;
  margin: 10px;
}
.E4{
  width: 90%;
  margin: 10px;
  }
.Plats{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.p1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.p3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.P1{
  width: 90%;
  margin: 10px;
}
.P2{
  width: 90%;
  margin: 10px;
}
.P3{
  width: 90%;
  margin: 10px;
}
.Desserts{
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
.d1{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d2{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.d3{
  display: flex ;
  font-size: 15px;
  justify-content: space-between;
}
.D1{
  width: 90%;
  margin: 10px;
}
.D2{
  width: 90%;
  margin: 10px;
}
.D3{
  width: 90%;
  margin: 10px;
}
.prix{
  font-weight: bold;
  opacity: 0.8;
}
.bouton2{
  border: 1px solid #9356DC ;
  border-radius: 20px 20px;
  color: white;
  background:linear-gradient(0deg,#9356DC , #FF79DA);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 3px 3px #cdd4dd;
  opacity: 0.9;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 50px;
  &:hover{
    box-shadow: 5px 5px 5px 5px #969da6;
    filter: brightness(110%);
}
}
Footer{
  background-color: black;
  opacity: 0.8;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
Footer p{
  color: white;
  margin-top:0px;
  margin-bottom: 8px;
}
.omf{
  margin-bottom: 10px;
  font-weight: bolder;
  font-family:"Shrikhand";
  font-size: 20px;
}
.fa-utensils{
  color: white;
  padding-right: 18px;
}
.fa-hands-helping{
  color: white;
  padding-right: 12px;
}
.main{
  display: flex;
  align-items: baseline;
}
.couvert{
  display: flex;
  align-items: baseline;
}
}
